<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class=" glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Section">&nbsp;&nbsp; Section</a></li>
        <li><a href="/Admin/Part"></a>&nbsp;&nbsp; Part</li>
        <li><a href="/Admin/ItemType">&nbsp;&nbsp; Item Type</a></li>
        <li><a href="/Admin/ProductType">&nbsp;&nbsp; Product Type</a></li>
        <li></li>
    </ul>
</li>
